#container {
  height: 240px;
  width: 300px;
}

.message-area {
  height: 15px;
  font-size: 12px;
  margin-top: 5px;
}

.error-message {
  color: #e06c75;
}

.success-message {
  color: #98c379;
}

.alert-enter {
  animation: fadeIn 0.3s ease-out;
}

.alert-exit {
  animation: fadeOut 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
