
#container {
  height: 440px;
  width: 300px;
  background: linear-gradient(180deg,rgba(61, 210, 255, 1) 0%, rgba(155, 250, 242, 1) 36%);
}

#browserIcon {
  height: 110px;
  width: 110px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

#placeholder {
  height: 300px;
  width: 300px;
  background-color: #f0f0f0;
}

#circlePulse {
  border-radius: 50%;
  background-color: rgb(169, 242, 250);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40px;
  opacity: 0;
  animation: scaleIn 5s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}